<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Websocket Address (ws://{URL}:{PORT}): ') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.wsserial.url">
        </div>
    </div>
</form>
